<h2 *ngIf="dia != ''" style="width: 100%; text-align: center;">HORARIOS DISPONIBLES</h2>
<div *ngIf="dia != ''" class="grid-container" >
  <button class="grid-item-horarios" *ngFor="let hora of filtrarHorariosPorDia()" (click)="enviarHora(hora)">
    {{hora}}
  </button>
</div>

<!-- <h2 *ngIf="hora != '' && estaEnArrayEmail(admins, user)" style="width: 100%; text-align: center;">PACIENTES</h2>
<div *ngIf="hora != '' && estaEnArrayEmail(admins, user)" class="grid-container" style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap;">
  <button class="grid-item-horarios" *ngFor="let p of pacientes" (click)="pacienteElegido = p;">
    {{p.apellido}}
  </button>
</div> -->