.contenedor{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #94e1af;
  }
  
  .navbar{
    background-color: #D8F3DC;
    font-size: 20px;
  }
  
  
  .btn:hover{
      background-color: #78d1b6;
      transform: scale(1.05);
      color: #fff;
  }
  
  .btn{
      padding: .4%;
      border: none;
      border-radius: 10px;
      width: auto;
      background-color: #94e1af;
      font-size: 18px;
      border: 2px solid #94e1af;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
  }
  
  .btn:active{
      background-color: #537e62;
  }
  
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  
    a{
      cursor: pointer;
    }
  
    .activo {
      background-color: #94e1af;
      color: white;
      border-radius: 10px;
    }
  
  
    header {
      padding: 1em;
      text-align: center;
  }
  
  section {
      max-width: 1000px;
      margin: 2em auto;
      padding: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
      line-height: 1.6;
  }
  
  .image{
    width: 30%;
  }
  
  /////////////////////////
   .tracking-in-expand {
      -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .scale-in-center {
      -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
  .rotate-center {
      -webkit-animation: rotate-center 2s ease-in-out both;
              animation: rotate-center 2s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  
  .grid-item {
    flex: 0 0 calc(30% - 16px); /* Ajusta según el número de columnas y el espaciado */
    margin: 8px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
    aspect-ratio: 1;
  }

  .turno {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #8ecae6;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  }

  .grid-item-dias {
    flex: 0 0 calc(15% - 15px);
    margin: 8px;
    border: 1px solid #000000;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
    aspect-ratio: 1;
    font-size: 20px;
    background-color: #FFF2B2;
  }

