<div style="text-align: center;" class="contenedor">
    <div *ngIf="!paciente && !especialista" class="imagenes">
        <div (click)="cambiarCheck(1)" class="divImage">
            <img class="image-registro" src="assets/registro/cardiologo.png">
        </div>
        <div (click)="cambiarCheck(2)" class="divImage">
            <img class="image-registro" src="assets/registro/paciente.png">
        </div>
    </div>
    
    <div *ngIf="paciente || especialista" class="contenedor-gral row">
        <h1 style="text-shadow: 4px 4px 10px rgba(0, 0, 0, .5);">REGISTRO</h1>
    </div>
    <div *ngIf="paciente || especialista" style="width: 10%;" class="contenedor-gral row">
        <div *ngIf="paciente" class="col">
            <img id="logo" src="assets/registro/paciente.png" routerLink="/home" style="cursor: pointer;">
        </div>
        <div *ngIf="especialista" class="col">
            <img id="logo" src="assets/registro/cardiologo.png" routerLink="/home" style="cursor: pointer;">
        </div>
    </div>
    <form *ngIf="paciente || especialista" class="row" [formGroup]="form">
        <div class="contenedor-gral row">
            <div class="col">
                <div class="col">
                    <input class="col" type="text" [(ngModel)]="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('invalido')">
                            El nombre solo debe contener letras.
                        </span>
                        <span class="col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('required')">
                            El nombre es requerido.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <input type="text" [(ngModel)]="apellido" formControlName="apellido" placeholder="Ingrese su apellido">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('invalido')">
                            El apellido solo debe contener letras.
                        </span>
                        <span class="col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('required')">
                            El apellido es requerido.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-gral row">
            <div class="col">
                <div class="col">
                    <input type="text" [(ngModel)]="edad" formControlName="edad" placeholder="Edad">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('min')">
                            La edad debe estar entre 1 y 99 años, inclusive.
                        </span>
                        <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('max')">
                            La edad debe estar entre 1 y 99 años, inclusive.
                        </span>
                        <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('pattern')">
                            La edad solo debe contener numeros.
                        </span>
                        <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('required')">
                            La edad es requerida.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <input type="text" [(ngModel)]="dni" formControlName="dni" placeholder="DNI">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('minlength')">
                            El DNI debe contener 7 caracteres por lo menos.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('maxlength')">
                            El DNI debe contener 8 caracteres como máximo.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('pattern')">
                            El DNI solo debe contener numeros.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('required')">
                            El DNI es requerido.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-gral row">
            <div class="col">
                <div class="col">
                    <input style="margin-bottom: 5px;" [(ngModel)]="email" formControlName="email" type="email" placeholder="Email">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['email'].touched && form.controls['email'].hasError('pattern')">
                            Ingrese un correo válido.
                        </span>
                        <span class="col" *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
                            El correo es requerido.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <input style="margin-bottom: 5px;" [(ngModel)]="clave" formControlName="clave" type="password" placeholder="Contraseña">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('minlength')">
                            La clave debe contener al menos 6 caracteres.
                        </span>
                        <span class="col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('required')">
                            La clave es requerida.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-gral row" *ngIf="paciente">
            <div class="col">
                <div class="col">
                    <input type="text" [(ngModel)]="obraSocial" formControlName="obraSocial" placeholder="Ingrese su obra social">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['obraSocial'].touched && form.controls['obraSocial'].hasError('invalido')">
                            La obra social debe contener solo letras.
                        </span>
                        <span class="col" *ngIf="form.controls['obraSocial'].touched && form.controls['obraSocial'].hasError('required')">
                            La obra social es requerida.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 20%; overflow-y: auto;" class="row" *ngIf="especialista">
            <div class="custom-table">
                <div class="custom-row" *ngFor="let row of especialidadesMostradas">
                  <div class="custom-cell" (click)="especialidad = row">
                    <label style="cursor: pointer;">{{ row }}</label>
                  </div>
                </div>
              </div>
        </div>
        <div class="contenedor-gral row" *ngIf="especialista">
            <div class="col">
                <div class="col">
                    <input type="text" [(ngModel)]="especialidad" formControlName="especialidad" placeholder="Ingrese su especialidad">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['especialidad'].touched && form.controls['especialidad'].hasError('invalido')">
                            La especialidad debe contener solo letras.
                        </span>
                        <span class="col" *ngIf="form.controls['especialidad'].touched && form.controls['especialidad'].hasError('required')">
                            La especialidad es requerida.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <input id="fotoEspecialista" accept=".jpg, .png, .jpeg" type="file">
                <!-- PROBAR DESPUES PONER IMAGEN USANDO EL FOR="fotoEspecialista" -->
            </div>
        </div>
        <div class="contenedor-gral row" *ngIf="paciente">
            <div class="col">
                <input id="fotosPaciente" accept="image/*, .jpg, .png, .jpeg" type="file" multiple>
                <!-- <input type="file" id="fileInput" name="ft" accept="image/*" multiple class="form-control" value="" required> -->
            </div>
        </div>
        <div class="captcha py-2">
            <re-captcha
            formControlName="recaptcha" [siteKey]="'6Lc3KBEpAAAAAJM_4vwLHVnWq4JaNzo53aSL6R_8'"
            (resolved)="captcha = true"
            ></re-captcha>
        </div>
        <div class="contenedor-gral row py-4">
            <div class="col">
                <button id="btn" [disabled]="!form.valid || !captcha" (click)="registrarse()">REGISTRARSE</button>
            </div>
        </div>
    </form>
    <!-- <ng-recaptcha [(ngModel)]="captchaResponse" name="recaptcha"></ng-recaptcha> -->
</div>