<div class="contenedor">
    <form id="form" class="row py-1" [formGroup]="form">
        <div class="row py-2">
            <div class="col">
                <h1>ALTA DE ADMINISTRADOR</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="col" type="text" [(ngModel)]="nombre" formControlName="nombre" placeholder="Nombre">
                <div class="row">
                    <span class="col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('invalido')">
                        El nombre solo debe contener letras.
                    </span>
                    <span class="col" *ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('required')">
                        El nombre es requerido.
                    </span>
                </div>
            </div>
            <div class="col">
                <input class="col" type="text" [(ngModel)]="apellido" formControlName="apellido" placeholder="Apellido">
                <div class="row">
                    <span class="col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('invalido')">
                        El apellido solo debe contener letras.
                    </span>
                    <span class="col" *ngIf="form.controls['apellido'].touched && form.controls['apellido'].hasError('required')">
                        El apellido es requerido.
                    </span>
                </div>
            </div>
        </div>
        <div class="row py-0">
            <div class="col">
                <input type="text" [(ngModel)]="edad" formControlName="edad" placeholder="Edad">
                <div class="row">
                    <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('min')">
                        La edad debe estar entre 1 y 99 años, inclusive.
                    </span>
                    <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('max')">
                        La edad debe estar entre 1 y 99 años, inclusive.
                    </span>
                    <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('pattern')">
                        La edad solo debe contener numeros.
                    </span>
                    <span class="col" *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('required')">
                        La edad es requerida.
                    </span>
                </div>
            </div>
            <div class="col">
                <input type="text" [(ngModel)]="dni" formControlName="dni" placeholder="DNI">
                    <div class="row">
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('minlength')">
                            El DNI debe contener 7 caracteres por lo menos.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('maxlength')">
                            El DNI debe contener 8 caracteres como máximo.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('pattern')">
                            El DNI solo debe contener numeros.
                        </span>
                        <span class="col" *ngIf="form.controls['dni'].touched && form.controls['dni'].hasError('required')">
                            El DNI es requerido.
                        </span>
                    </div>
            </div>
        </div>
        <div class="row py-0">
            <div class="col">
                <input [(ngModel)]="email" formControlName="email" type="email" placeholder="Email">
                <div class="row">
                    <span class="col" *ngIf="form.controls['email'].touched && form.controls['email'].hasError('pattern')">
                        Ingrese un correo válido.
                    </span>
                    <span class="col" *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
                        El correo es requerido.
                    </span>
                </div>
            </div>
        </div>
        <div class="row py-0">
            <div class="col">
                <input [(ngModel)]="clave" formControlName="clave" type="password" placeholder="Contraseña">
                <div class="row">
                    <span class="col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('minlength')">
                        La clave debe contener al menos 6 caracteres.
                    </span>
                    <span class="col" *ngIf="form.controls['clave'].touched && form.controls['clave'].hasError('required')">
                        La clave es requerida.
                    </span>
                </div>
            </div>
        </div>
        <div class="row py-0">
            <div class="col">
                <input id="foto" type="file">
            </div>
        </div>
        <div class="row py-0">
            <div class="col">
                <button (click)="enviar()" [disabled]="!form.valid" type="submit">ENVIAR</button>
            </div>
        </div>
    </form>
</div>