<div class="contenedor">
    <nav class="navbar navbar-expand-xxl">
        <div class="container-fluid">
          <img src="assets/medico.png" style="cursor: pointer;" class="navbar-brand" width="2%" routerLink="/home">
          <!-- <a class="navbar-brand" href="#">Expand at xxl</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item" [class.activo]="rutaActual === '/home'">
                <a class="nav-link active" href="/home">Home</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/usuarios">Usuarios</a>
              </li>
              <li *ngIf="estaEnArrayEmail(pacientes, user) || estaEnArrayEmail(especialistas, user)" class="nav-item">
                <a class="nav-link active" routerLink="/mis-turnos">Mis Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/turnos">Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user) || estaEnArrayEmail(pacientes, user)" class="nav-item">
                <a class="nav-link active" routerLink="/solicitar-turnos">Solicitar Turno</a>
              </li>
            </ul>
            <button routerLink="/login" *ngIf="!user">LOGIN</button>
            <button style="margin-left: 10px;" routerLink="/registro" *ngIf="!user">REGISTRO</button>
            
            <button style="cursor: pointer; margin-right: 10px; border-radius: 50%;" routerLink="/perfil" *ngIf="user">
              <img width="30px" [src]="foto">
            </button>
            <button routerLink="/perfil" *ngIf="user">{{user.email.split("@")[0].toUpperCase()}}</button>
            <button style="margin-left: 10px;" (click)="cerrarSesion()" *ngIf="user">LOGOUT</button>
          </div>
        </div>
    </nav>
    <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%; 
    text-align: center;             
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;">
      <header>
        <img class="image rotate-center" src="assets/medico.png">
        <h1 class="tracking-in-expand">Bienvenido a CLINICASCRIPT</h1>
      </header>

      <section class="scale-in-center">
          <h2>Nuestra Misión</h2>
          <p>
              En CLINICASCRIPT, nos dedicamos a proporcionar atención médica integral y de calidad para el bienestar de nuestros pacientes.
              Somos un equipo de profesionales comprometidos con la salud y la satisfacción de quienes confían en nosotros.
          </p>

          <h2>Nuestros Servicios</h2>
          <p>
              Ofrecemos una amplia gama de servicios médicos que abarcan desde consultas generales hasta tratamientos especializados.
              Nuestro enfoque multidisciplinario nos permite proporcionar una atención integral y personalizada para cada individuo.
          </p>

          <h2>¿Por qué elegirnos?</h2>
          <ul>
              <li>Profesionales Cualificados: Nuestro equipo médico está formado por expertos en sus respectivos campos.</li>
              <li>Tecnología Avanzada: Utilizamos tecnología de vanguardia para diagnósticos precisos y tratamientos efectivos.</li>
              <li>Atención Personalizada: Nos preocupamos por cada paciente de manera única.</li>
              <li>Ambiente Cálido y Acogedor: Queremos que se sienta cómodo y seguro durante su visita.</li>
          </ul>

          <h2>Contáctenos</h2>
          <p>
              Estamos aquí para responder a sus preguntas y programar su próxima cita.
              No dude en comunicarse con nosotros para obtener más información sobre nuestros servicios.
          </p>
      </section>
    </div>
</div>