<div class="contenedor">
    <nav class="navbar navbar-expand-xxl">
        <div class="container-fluid">
          <img src="assets/medico.png" style="cursor: pointer;" class="navbar-brand" width="2%" routerLink="/home">
          <!-- <a class="navbar-brand" href="#">Expand at xxl</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item" [class.activo]="rutaActual === '/home'">
                <a class="nav-link active" href="/home">Home</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/usuarios">Usuarios</a>
              </li>
              <li *ngIf="estaEnArrayEmail(pacientes, user) || estaEnArrayEmail(especialistas, user)" class="nav-item">
                <a class="nav-link active" routerLink="/mis-turnos">Mis Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/turnos">Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user) || estaEnArrayEmail(pacientes, user)" class="nav-item">
                <a class="nav-link active" routerLink="/solicitar-turnos">Solicitar Turno</a>
              </li>
            </ul>
            <button class="btn" routerLink="/login" *ngIf="!user">LOGIN</button>
            <button class="btn" style="margin-left: 10px;" routerLink="/registro" *ngIf="!user">REGISTRO</button>
            
            <button class="btn" style="cursor: pointer; margin-right: 10px; border-radius: 50%;" routerLink="/perfil" *ngIf="user">
              <img width="30px" [src]="usuario.foto">
            </button>
            <button class="btn" routerLink="/perfil" *ngIf="user">{{user.email.split("@")[0].toUpperCase()}}</button>
            <button class="btn" style="margin-left: 10px;" (click)="cerrarSesion()" *ngIf="user">LOGOUT</button>
          </div>
        </div>
    </nav>

    <div *ngIf="especialistaElegido == null">
      <app-elegir-especialista (especialistaEnviado)="recibirEspecialista($event)"></app-elegir-especialista>
    </div>

    <div *ngIf="especialistaElegido != null && especialidadElegida == ''">
      <app-elegir-especialidad [especialista]="especialistaElegido" (especialidadEnviada)="recibirEspecialidad($event)"></app-elegir-especialidad>
      <div class="py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <button class="btn" style="width: 20%;" (click)="especialistaElegido = null">Volver</button>
      </div>
    </div>

    <div class="d-flex justify-content-center align-content-center" style="margin-top: 10px; padding: 0px; gap: 40px;" *ngIf="especialidadElegida != ''">
      <div class="col-4">
        <app-mostrar-elegido [especialidadElegida]="especialidadElegida" [especialistaElegido]="especialistaElegido"></app-mostrar-elegido>
      </div>
      <div class="turno col-8">
        <div *ngIf="diaElegido == ''" style="width: 100%;">
          <app-elegir-dia [especialidad]="especialidadElegida" [especialista]="especialistaElegido" (diaElegido)="recibirDia($event)"></app-elegir-dia>
          <div class="a py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: end;">
            <button class="btn" style="width: 20%;" (click)="especialidadElegida = ''">Volver</button>
          </div>
        </div>
        <div *ngIf="diaElegido != ''" class="grid-container" style="width: 50%; display: flex; flex-direction: column; justify-content: center;">
          <h2 style="margin: auto;">DIA ELEGIDO</h2>
          <button class="grid-item-dias">
            {{diaElegido}}
          </button>
        </div>

        <div *ngIf="diaElegido != '' && horaElegida == ''" style="width: 100%;">
          <app-elegir-hora [especialidad]="especialidadElegida" [especialista]="especialistaElegido" [dia]="diaElegido" (horaElegida)="recibirHora($event)"></app-elegir-hora>
          <div *ngIf="horaElegida == ''" class="a py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: end;">
            <button class="btn" style="width: 20%;" (click)="diaElegido = ''">Volver</button>
          </div>
        </div>

        <div *ngIf="horaElegida != ''" class="grid-container" style="width: 50%; display: flex; flex-direction: column; justify-content: center;">
          <h2 style="margin: auto;">HORA ELEGIDA</h2>
          <button class="grid-item-dias">
            {{horaElegida}}
          </button>
        </div>

        <div *ngIf="!estaEnArrayEmail(admins, user)" style="width: 100%"> 
          <div *ngIf="horaElegida != ''" class="a py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: end;">
            <button class="btn" style="width: 20%;" (click)="guardarTurno()">Reservar turno</button>
          </div>
        </div>

        <div *ngIf="horaElegida != '' && pacienteElegido == null" style="width: 100%;">
          <app-elegir-paciente *ngIf="estaEnArrayEmail(admins, user)" (pacienteEnviado)="recibirPaciente($event)"></app-elegir-paciente>
          <div *ngIf="horaElegida != ''" class="a py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: end;">
            <button class="btn" style="width: 20%;" (click)="horaElegida = ''">Volver</button>
          </div>
        </div>

        <div *ngIf="pacienteElegido != null && estaEnArrayEmail(admins, user)" class="grid-container" style="width: 50%; display: flex; flex-direction: column; justify-content: center;">
          <h2 style="margin: auto;">PACIENTE ELEGIDO</h2>
          <button class="grid-item-dias">
            {{pacienteElegido.apellido}}
          </button>
        </div>

        <div *ngIf="pacienteElegido != null && estaEnArrayEmail(admins, user)" style="width: 100%">
          <div *ngIf="horaElegida != ''" class="a py-5" style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: end;">
            <button class="btn" style="width: 20%;" (click)="guardarTurno()">Reservar turno</button>
          </div>
        </div>
      </div> 
    </div>
</div>