<div class="contenedor">
    <nav class="navbar navbar-expand-xxl">
        <div class="container-fluid">
          <img src="assets/medico.png" style="cursor: pointer;" class="navbar-brand" width="2%" routerLink="/home">
          <!-- <a class="navbar-brand" href="#">Expand at xxl</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item" [class.activo]="rutaActual === '/home'">
                <a class="nav-link active" href="/home">Home</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/usuarios">Usuarios</a>
              </li>
              <li *ngIf="estaEnArrayEmail(especialistas, user)" class="nav-item">
                <a class="nav-link active" routerLink="/pacientes">Pacientes</a>
              </li>
              <li *ngIf="estaEnArrayEmail(pacientes, user) || estaEnArrayEmail(especialistas, user)" class="nav-item">
                <a class="nav-link active" routerLink="/mis-turnos">Mis Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user)" class="nav-item">
                <a class="nav-link active" routerLink="/turnos">Turnos</a>
              </li>
              <li *ngIf="estaEnArrayEmail(admins, user) || estaEnArrayEmail(pacientes, user)" class="nav-item">
                <a class="nav-link active" routerLink="/solicitar-turnos">Solicitar Turno</a>
              </li>
            </ul>
            <button routerLink="/login" *ngIf="!user">LOGIN</button>
            <button style="margin-left: 10px;" routerLink="/registro" *ngIf="!user">REGISTRO</button>
            
            <button style="cursor: pointer; margin-right: 10px; border-radius: 50%;" routerLink="/perfil" *ngIf="user">
              <img width="30px" [src]="this.usuario.foto">
            </button>
            <button routerLink="/perfil" *ngIf="user">{{user.email.split("@")[0].toUpperCase()}}</button>
            <button style="margin-left: 10px;" (click)="cerrarSesion()" *ngIf="user">LOGOUT</button>
          </div>
        </div>
    </nav>
    <div class="contenedor-table">
      <div class="table-contenedor">
          <table>
              <thead>
                  <tr>
                    <th *ngFor="let columna of obtenerColumnas(mostrarPacientesAtendidos())">{{columna.toUpperCase()}}</th>
                  </tr>
              </thead>
          </table>
      </div>
      <div class="table-contenedor" style="overflow: auto;">
        <table>
          <tbody style="overflow-y: auto;">
            <tr *ngFor="let obj of mostrarPacientesAtendidos()" style="cursor: pointer;">
              <td *ngFor="let col of obtenerColumnas(mostrarPacientesAtendidos())">
                {{ obj[col] }}
              </td>
            </tr>
          </tbody>
        </table> 
      </div>
      <div class="fab-container">
        <app-paciente-fab
          *ngFor="let p of pacientes"
          [paciente]="p"
          (click)="pacienteElegido = p">
        </app-paciente-fab>       
      </div>
      <div *ngIf="pacienteElegido != null" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px;">
        <button (click)="pacienteElegido = null">Reiniciar</button>
        <label>Elegido: {{pacienteElegido.nombre}} {{pacienteElegido.apellido.substring(0, 1)}}.</label>
      </div>
    </div>
</div>