<div class="contenedor">
    <h1>LISTADO DE ESPECIALISTAS</h1>
    <ul class="list-group center" *ngFor="let e of especialistas">
        <li class="list-group-item" style="font-size: 20px;" (click)="mostrar(e)">{{e.nombre}} {{e.apellido}} DNI: {{e.dni}} ESTADO: {{e.aprobado === true ? 'APROBADO': e.aprobado === 'espera' ? 'ESPERA' : 'DENEGADO'}}<img class="perfil" [src]="e.foto"></li>
    </ul>
    <div *ngIf="mostrarModal" class="modal">
        <div class="modal-content">
            <span (click)="mostrarModal = false" class="close">&times;</span>
            <h2>¿DESEA ACEPTAR AL ESPECIALISTA?:</h2>
            <p>{{userModal.nombre}} {{userModal.apellido}} DNI: {{userModal.dni}} ESTADO: {{userModal.aprobado === true ? 'APROBADO': userModal.aprobado === 'espera' ? 'ESPERA' : 'DENEGADO'}} <img class="perfil" [src]="userModal.foto"></p>
            <div class="col">
                <button (click)="decidir(true)" class="col btn">ACEPTAR</button>
                <button (click)="decidir(false)" class="col btn">RECHAZAR</button>
            </div>
        </div>
      </div>
</div>