<div class="contenedor">
    <div class="input-contenedor">
        <svg xmlns="http://www.w3.org/2000/svg" class="lupa" viewBox="0 0 8 8">
            <path fill="#ffffff" d="M3.5 0C1.57 0 0 1.57 0 3.5S1.57 7 3.5 7c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66c0-1.93-1.57-3.5-3.5-3.5zm0 1C4.89 1 6 2.11 6 3.5c0 .66-.24 1.27-.66 1.72l-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63c-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z"/>
        </svg>
        <input class="buscador" type="text" placeholder="Buscar por especialista o especialidad..." [(ngModel)]="busqueda">
    </div>
    <div class="table-contenedor">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let columna of obtenerColumnas(turnos)">{{columna.toUpperCase()}}</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-contenedor" style="overflow: auto;">
        <table>
            <tbody style="overflow-y: auto;">
                <tr *ngFor="let obj of filtrarTurnos()" style="cursor: pointer;">
                    <td *ngFor="let col of obtenerColumnas(turnos)" (click)="mostrarAcciones(obj)">
                        {{(col === 'id' ? obj[col].substring(0, 5) : col === 'especialista' ? obj['especialista']['apellido'] : obj[col]).toUpperCase()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-ventana" *ngIf="modal">
        <div class="modal-content-ventana">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2 class="py-5" style="text-align: center;">ACCIONES DISPONIBLES PARA ESTE TURNO</h2>
            <p class="py-2 turno">{{turno.id.substring(0, 5)}} - {{turno.fecha}} - {{turno.especialista.apellido}} - {{turno.especialidad}}</p>
            <div class="btns py-5" *ngIf="botones">
                <button class="accion" *ngIf="evaluar(turno, 'cancelar')" (click)="cancelarTurno()">CANCELAR TURNO</button>
                <button class="accion" *ngIf="evaluar(turno, 'resenia')" (click)="verResenia()">VER RESEÑA</button>
                <button class="accion" *ngIf="evaluar(turno, 'encuesta')">ENCUESTA</button>
                <button class="accion" *ngIf="evaluar(turno, 'calificar')" (click)="calificarAtencion()">CALIFICAR</button>
            </div>
            <div class="textarea py-2" *ngIf="!botones && reseniaTxt">
                <textarea [(ngModel)]="comentario" placeholder="Ingrese el motivo por el cual cancela..."></textarea>
                <button class="accion" (click)="cancelar(turno)">ENVIAR</button>
            </div>
            <div class="resenia py-4" *ngIf="!botones && resenia">
                <span style="width: 90%;">{{turno.resenia != '' ? turno.resenia : turno.comentario}}</span>
            </div>
            <div class="textarea py-2" *ngIf="!botones && calificar">
                <textarea [(ngModel)]="comentario" placeholder="Detalle su experiencia en cuanto a la atencion del especialista {{turno.especialista.apellido}}..."></textarea>
                <button class="accion" (click)="calificarA(turno)">ENVIAR</button>
            </div>
        </div>
    </div>
</div>
